page-geolocationpeople {
  #map {
    width: 100%;
    height: 60%;
    margin: 3px;
  }

  .bu{
    width: 40%;
    height: 30%;
  }

  .p {
    border: red 5px solid;
  }

  .b{
    border: blue 4px solid;
  }

}
