
<ion-header>

  <ion-navbar>
    <ion-title text-center>{{'MY_UBICATION' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="p" #map id="map" ></div>
</ion-content>
